<div class="custom-field form-group <%= field_template.field_type %> <%= field_template.name.downcase.underscore %>">
  <%= f.hidden_field :field_template_id %>
  <%= f.label :value, field_template.label.upcase .titleize, class: "form-label" %>
  <%= content_tag(:div, field_template.instructions, class: "field-instructions") unless field_template.instructions.blank? %>
  <%= content_tag(:div, field_template.prepend, class: "bpcf-prepend") unless field_template.prepend.blank? %>
  <%= render partial: "bp_custom_fields/field_types/admin/#{field_template.field_type}", 
            locals: {builder: f, field_template: field_template} %>
  <%= content_tag(:div, field_template.append, class: "bpcf-prepend") unless field_template.append.blank? %>
</div>