<div class='nested-fields repeater'>  
    <div class='field'>

      <%# f.hidden_field :parent_field_id%>
      <%= f.hidden_field :is_sub_group, value: true%>
      <%= f.fields_for :fields do |repeater_field| %>
         <div class="custom-field <%= repeater_field.object.field_template.field_type %> <%= repeater_field.object.field_template.name.downcase.underscore %>">
           <%= repeater_field.hidden_field :field_template_id %>
           <%= repeater_field.label :value, repeater_field.object.field_template.label, class: "form-label" %>
           <%= content_tag(:div, repeater_field.object.field_template.instructions, class: "field-instructions") unless repeater_field.object.field_template.instructions.blank? %>
           <%= content_tag(:div, repeater_field.object.field_template.prepend, class: "bpcf-prepend") unless repeater_field.object.field_template.prepend.blank? %>
           <%= repeater_field.object.field_template.field_type %>
           <%= render partial: "bp_custom_fields/field_types/admin/#{repeater_field.object.field_template.field_type}", 
                     locals: {builder: repeater_field, field_template: repeater_field.object.field_template} %>
           <%= content_tag(:div, repeater_field.object.field_template.append, class: "bpcf-prepend") unless repeater_field.object.field_template.append.blank? %>
         </div>
      <% end %>
    </div>
    <%= link_to_remove_association "Remove Row", f %>

</div>