<div class='nested-fields'>  
    <div class='field resource-select'>
      <%= f.label :resource, "Choose a Resource/Model" %>
      <%= f.select :resource, options_for_select(@app_models, f.object.resource), {prompt: "Select Resource/Model"} %>
    </div>
    
    <div class='field resource-id'>
      <%= f.label :resource_id, "Resource id" %>
      <%= f.text_field :resource_id %>
    </div>
    
    <div class='field resource-appears'>
      <%= f.label :appears, "Conditions: " %>
      <%= f.select :appears, options_for_select([["INCLUDE", 1], ["EXCLUDE", 0]], f.object.appears == true ? 1 : 0) %>
    </div>


    <%= link_to_remove_association "remove appearance", f %>

</div>