
<div class='nested-fields'>  
 <%= render :partial => 'fields_header', locals: {f: f} %>
 
 <div class='field_options active'>
   <%= render partial: 'common_fields', locals: {f: f}  %>
 
    <div class='field additional-option repeater'>
      <div class='info'>
        Repeating Fields
        <span class='help-text'>Each set of these fields can be repeated by the user over and over.  I'll need to be able to set minimum and maximum fields for this.</span>
      </div>
      <div class='field-value field_template_children-fields'>  
        <%= f.fields_for :children do |c| %>
          <%= render :partial => 'child_field_templates', locals: {f: c, remove_label: "Remove Subfield" } %>
        <% end %>
        <div class='links'>
          <%= link_to_add_association 'Add Subfield', f, :children, {
            partial: "child_field_templates", wrap_object: 
            Proc.new { |child_template| child_template.initialize_if}, render_options: {locals: {remove_label: "Remove Subfield"}}} %>  
        </div>
      </div>
    </div>


    <%= link_to_remove_association remove_label, f %>
  </div>
</div>
