
<div class='nested-fields'>  
  <%= render :partial => 'fields_header', locals: {f: f} %>
  
  <div class='field_options'>
    <%= render partial: 'common_fields', locals: {f: f}  %>

    <div class='field additional-option repeater'>
      <div class='info'>
        Repeating Fields
         <span class='help-text'>Each set of these fields can be repeated by the user over and over.  I'll need to be able to set minimum and maximum fields for this.</span>
      </div>
      
      <div class='field_value field_template_children-fields'>  
        <%= f.fields_for :children do |c| %>
          <%= render partial: 'child_field_templates', locals: {f: c, remove_label: "Remove Subfield"} %>
        <% end %>
        <div class='links'>
          <%= link_to_add_association 'Add Subfield', f, :children, {partial: "child_field_templates", render_options: {locals: {remove_label: "Remove Subfield"}}} %>  
        </div>
      </div>
    </div>
    
  
    <div class='field additional-option tab'>
      <div class='info'>
        Tab Fields
        <span class='help-text'>Help for tab fields - how they work etc</span>
      </div>
      <div class='field_template_children-fields field_value'>  
        <%= f.fields_for :children do |c| %>
          <%= render partial: 'tab_template', locals: {f: c, remove_label: "Remove Tab Field"} %>
        <% end %>
        <div class='links'>
          <%= link_to_add_association 'Add Tab Field', f, :children, {partial: "tab_template", render_options: {locals: {remove_label: "Remove Tab Field"}}} %>  
        </div>
      </div>
    </div>
    
    <div class='field additional-option flexible_content'>
      <div class='info'>
        Flexible Content Fields
        <span class='help-text'>Flexible Content allows you to define a series of layouts for users to select.  Each layout can have as many fields as you wish. </span>
      </div>
      <div class='field_template_children-fields field_value'>  
        <%= f.fields_for :children do |c| %>
          <%= render partial: 'layout_fields', locals: {f: c, remove_label: "Remove Layout"} %>
        <% end %>
        <div class='links'>
          <%= link_to_add_association 'Add Layout', f, :children, {partial: "layout_fields", render_options: {locals: {remove_label: "Remove Layout"}}} %>  
        </div>
      </div>
    </div>
    
    
    <%= link_to_remove_association "remove field", f %>
  </div>
</div>
  

