<div class='bpcf-field-header'>
  <ul class='bpcf-header-list-top active'>
    <li>Order</li>
    <li>Label</li>
    <li>Name</li>
    <li>Type</li>
  </ul>

  <ul class='bpcf-header-list-bottom'>
    <li id='order'><%= f.index.to_i+1 %></li>
    <%= f.hidden_field :row_order, value: (f.object.row_order.present? ? f.object.row_order : 1) %>  
    <li id='label'><%= f.object.label %></li>
    <li id='name'><%= f.object.name %></li>
    <li id='type'><%= f.object.field_type %></li>
  </ul>
</div>
