<div class='bpcf-field-header'>
  <ul class='bpcf-header-list-top'>
    <li>Order</li>
    <li>Label</li>
    <li>Name</li>
    <li>Type</li>
  </ul>

  <ul class='bpcf-header-list-bottom'>
    <li id='order'><%= '1' %></li>  
    <li id='label'><%= f.object.label %></li>
    <li id='name'><%= f.object.name %></li>
    <li id='type'><%= f.object.field_type %></li>
  </ul>
</div>

<div class='field field_type'>
  <div class='info'>
    <%= f.label :field_type, "Field Type: " %>
  </div>
  <div class='field-value'>
    <%= f.select :field_type, options_for_select(BpCustomFields::FieldTemplate.field_type_options, f.object.field_type), {prompt: "Select Field Type"}, {class: "field-template-select-field-type"} %>
  </div>
</div>