<%= form_for(@group_template) do |f| %>
  <% if @group_template.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@group_template.errors.count, "error") %> prohibited this group from being saved:</h2>

      <ul>
      <% @group_template.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field name">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :visible %><br>
    <%= f.check_box :visible %>
  </div>
  
<div class='appearance-fields'>  
  <%= f.fields_for :appearances do |a| %>
    <%= render :partial => 'appearance_fields', locals: {f: a} %>
  <% end %>
  <div class='links'>
    <%= link_to_add_association 'Add Appearance', f, :appearances %>  
  </div>
</div>
  
<div class='field_template-fields'>
  <%= f.fields_for :field_templates do |ft| %>
    <%= render :partial => 'field_template_fields', locals: {f: ft} %>

  <% end %>
  <div class='links'>
    <%= link_to_add_association 'Add Field', f, :field_templates %>  
  </div>
</div>

  <div class="actions">
    <%= f.submit "Create Group" %>
  </div>
<% end %>
