<div class='nested-fields'>  
  <div class='field_type'>
    <div class='field'>
      <%= f.hidden_field :field_type, value: 'layout' %>
    </div>
  </div>
  <div class='field'>
    <div class='field-value'>
      <p>This is a layout</p>
      <%= link_to_remove_association "Remove Me", f %>
    </div>
  </div>

  <div class='field_options active'>
    <div class='field'>
      <div class='info'>
        <%= f.label :name, class: "form-label"  %>
        <span class='help-text'>Will appear in all readable situations, on the form edit page, etc... </span>
      </div>
      <div class='field-value'>

        <%= f.text_field :name, class: "form-control field_template-name" %>
      </div>  
    </div>
    
    <div class='field'>
      <div class='info'>
        <%= f.label :label, class: "form-label"  %>
        <span class='help-text'>No spaces.  Used for lookup etc.  Maybe I've flipped these....</span>
      </div>
      <div class='field-value'>
        <%= f.text_field :label, class: "form-control field_template-label" %>
      </div>
    </div>
    <div class='field'>
      <div class='info'>
        <%= f.label :instructions, class: "form-label" %>
        <span class='help-text'>Add some instructions for the user.</span>
      </div>
      <div class='field-value'><%= f.text_area :instructions, class: "form-control" %></div>
    </div>

    <div class='field'>
      <div class='layout-children-fields'>  
        <%= f.fields_for :children do |c| %>
          <%= render :partial => 'child_field_templates', locals: {f: c, remove_label: "Remove Field"} %>
        <% end %>
        <div class='links'>
          <%= link_to_add_association 'Add Field', f, :children, {partial: "child_field_templates", render_options: {locals: {remove_label: "Remove Field"}}} %>  
        </div>
      </div>
    </div>

  </div>
</div>
