<p id="notice"><%= notice %></p>

<h1>Custom Field Groups</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Visible</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @group_templates.each do |group_template| %>
      <tr>
        <td><%= group_template.name %></td>
        <td><%= group_template.visible %></td>
        <td><%= link_to 'Edit', edit_group_template_path(group_template) %></td>
        <td><%= link_to 'Destroy', group_template, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Group', new_group_template_path %>
