<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @group_template.name %>
</p>

<p>
  <strong>Appears On:</strong>
  <%= @group_template.appears_on %>
</p>

<p>
  <strong>Visible:</strong>
  <%= @group_template.visible %>
</p>

<%= link_to 'Manage Fields', [:manage, @group_template, :field_templates] %>
<%= link_to 'Edit', edit_group_template_path(@group_template) %> |
<%= link_to 'Back', group_templates_path %>
