<!DOCTYPE html>
<html>
<head>
  <title>Dummy</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class='admin-navbar'>
  <%= link_to "Custom Fields", bp_custom_fields.root_path, class: "custom_fields" %>
  <%= link_to "Abstract Pages/Resources", bp_custom_fields.abstract_resources_path %>
  <%= link_to "Posts", main_app.root_path, class: "posts" %>
  <%= abstract_resource_admin_nav %>
</div>
<%= yield %>
</body>
</html>
