<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @group.name %>
</p>

<p>
  <strong>Location:</strong>
  <%= @group.location %>
</p>

<p>
  <strong>Visible:</strong>
  <%= @group.visible %>
</p>

<%= link_to 'Manage Fields', [:manage, @group, :fields] %>
<%= link_to 'Edit', edit_group_path(@group) %> |
<%= link_to 'Back', groups_path %>
