<h2>Add Fields for <%= @group.name %></h2>
<%= form_for @group do |f| %>

<%= f.fields_for :fields do |field| %>
  <fieldset class='field_type'>
    <%= field.label :field_type, "Field Type: " %>
    <%= field.select :field_type, options_for_select(BpCustomFields::Field.pretty_field_types.zip(0...BpCustomFields::Field.field_types.size), field.object.field_type) %>
  </fieldset>
  
  <fieldset class='field_options'>
    <div class='form-group'>
      <%= field.label :min, class: "form-label"  %>
      <%= field.text_field :min, class: "form-control" %>

      <%= field.label :max, class: "form-label"  %>
      <%= field.text_field :max, class: "form-control" %>  
    </div>

    <div class='form-group'>
      <%= field.label :prepend, class: "form-label" %>
      <%= field.text_field :prepend, class: "form-control" %>      
    </div>
    

    <div class='form-group'>
      <%= field.label :required, class: "form-label" %>
      <%= field.check_box :required, class: "form-control" %>      
    </div>

    
    <div class='form-group'>
      <%= field.label :instructions, class: "form-label" %>
      <%= field.text_area :instructions, class: "form-control" %>
    </div>
    
    <div class='form-group'>
      <%= field.label :default_value, class: "form-label" %>
      <%= field.text_area :default_value, class: "form-control" %>
    </div>
    
    <div class='form-group'>
      <%= field.label :placeholder_text, class: "form-label" %>
      <%= field.text_field :placeholder_text, class: "form-control" %>
    </div>
  </fieldset>
<% end %>

  <%= f.submit "Submit", :disable_with => 'Submiting...' %>
<% end %>